@import (inline) 'slick.css';
@import (inline) 'slick-theme.css';

@download: #1d2631;
@basic: #283645;
@hover: #d22856;
@triangle: #f2f2f2;

@font-face {
  font-family: "Test"; 
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PFCentroSansPro-Light.eot);
  src: url(../fonts/PFCentroSansPro-Light.ttf),
  url(../fonts/PFCentroSansPro-Light.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: "Open Sans", 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}