.footer {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;

  @media screen and (min-width: 600px) {padding: 70px 0;}
  
  &-index {
    display: block;
    
    @media screen and (min-width: 600px) {display: none;}
  }

  & > .wrapper {
    display: block;

    @media screen and (min-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: 600px) {margin-bottom: 0;}

    a svg {
      transition: fill 0.3s ease, opacity 0.3s ease;

      &:hover .logoname {fill: @hover;}
      &:active {opacity: 0.3;}
      &:active .logoname {fill: @basic;}
    }

    &-mobile {
      display: block;
      @media screen and (min-width: 600px) {display: none;}
    }
    &-desktop {
      display: none;
      @media screen and (min-width: 600px) {display: block;}
    }
  }

  &-social {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;

    @media screen and (min-width: 600px) {margin-bottom: 0;}
    
    a + a {margin-left: 11px;}

    a {
      border-radius: 50%;
      border: 3px solid #e9ebec;
      width: 51px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border 0.3s ease;
      &:hover {border: 3px solid @basic;}
      &:active {border: 3px solid fadeout(#e9ebec, 30%);}
      &:active svg {opacity: 0.3;}

      svg {
        fill: @hover;
        transition: opacity 0.3s ease;
      }
    }
  }

  &-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    @media screen and (min-width: 600px) {margin-top: 5px;}

    p {
      margin-right: 15px;
      font-size: 14px;
      margin-top: -5px;
    }

    a {
      svg{
        fill: @hover;
        transition: fill 0.3s ease;
        &:hover {fill: #000;}
        &:active {fill: #bec2c7;}
      }
    }
  }
}