@download: #1d2631;
@basic: #283645;
@hover: #d22856;
@triangle: #f2f2f2;

.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

li {list-style-type: none;}

/* ----------------------------------- Header ----------------------------------- */

header {
  
  .headerStatic {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    height: 66px;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
  }

  .header-menu {
    &-mobile {
      background-image: url(../images/burger.png);
      background-position: center;
      background-repeat: no-repeat;
      height: 24px;
      width: 50px;
      cursor: pointer;
    }
  }
}

/* ----------------------------------- Полноэкранный блок ----------------------------------- */

.phoneBlock-form {
  background-image: url(../images/background-01.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 240px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 70%;
    text-align: center;
    margin-top: 20px;  
  }
}

/* ----------------------------------- Основной контент ----------------------------------- */

.sectionForm {

  &-text {
    font-size: 14px;
    line-height: 30px;
    padding: 50px 0;
    text-align: center;
  }
}

.form {

  form {
    display: flex;
    flex-direction: column;

    input {
      padding: 20px;
      border: 2px solid #e5e5e5;
      outline: none;
      border-radius: 2px;
      font-size: 18px;
      font-family: "Open Sans", 'Arial', sans-serif;

      &:hover {border: 2px solid @basic;}
      &:active {border: 2px solid @hover;}
    }
    
    p {
      text-transform: uppercase;
      margin: 25px 0 14px 22px;
      font-size: 14px;
      color: @hover;
    }

    button {
      outline: none;
      text-transform: uppercase;
      text-decoration: none;  
      outline: none;
      border: 0;
      cursor: pointer;
      margin-top: 48px;
      margin-bottom: 44px;
      background-color: #2aab6d;
      text-align: center;
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      padding-top: 24px;
      padding-bottom: 24px;
      border-radius: 2px;
      font-family: "Open Sans", 'Arial', sans-serif;
    }
  }

}

/* ----------------------------------- Футер------------------------------------ */

.footer {
  padding: 40px 0;
  display: flex;

  &-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &-social {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
    
    a + a {margin-left: 30px;}

    a {
      border-radius: 50%;
      border: 3px solid #e9ebec;
      width: 51px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border 0.3s ease, opacity 0.3s ease;
      &:hover {border: 3px solid @basic;}
      &:active {opacity: 0.3;}
    }
  }

  &-copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      svg{
        #lantaHand {
          fill: @hover;
          transition: fill 0.3s ease;
        }
      }
      &:hover #lantaHand {fill: #000;}
      &:active #lantaHand {fill: #bec2c7;}
    }
  }
}

/* ----------------------------------- Оформление меню ----------------------------------- */

.mobileMenu {
  display: none;
  width: 100%;
  border-top: 1px solid #000;
  position: relative;
  top: 66px;
  z-index: 1000;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @basic;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    text-align: center;

    &:hover {
      background-color: @download;
    }
  }
}

.headerActive {background-color: @basic !important;}

.header-menu-close {background-image: url(../images/close.png) !important;}

.userPhoto-text-like::before {
  content: '';
  display: block;
  width: 13px;
  height: 12px;
  background-image: url(../images/icon-heart.svg);
  margin-right: 15px;
  cursor: pointer;
}