@import "base";
@import "header";
@import "footer";
@import "index";
@import "photo";
@import "form";
@import (inline) 'slick.css';
@import (inline) 'slick-theme.css';

@download: #1d2631;
@basic: #283645;
@hover: #d22856;
@triangle: #f2f2f2;