@header: #006cb7;
@footer: #d3d3d3;
@black: #000;
 
@font-face {
  font-family: "OpenSans"; 
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PFCentroSansPro-Light.eot);
  src: url(../fonts/PFCentroSansPro-Light.ttf),
  url(../fonts/PFCentroSansPro-Light.woff);
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

li {list-style-type: none;}

/* ----------------------------------- Header ----------------------------------- */

.header {
  height: 66px;
  background-color: fadeout(@black, 70%);
  display: flex;
  align-items: center;
  
  & > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-menu {
    &-mobile {
      background-image: url(../images/burger.png);
      height: 24px;
      width: 50px;
      cursor: pointer;
    }
  }
}

/* ----------------------------------- Полноэкранный блок ----------------------------------- */

.fullscreen {
  background-image: url(../images/background-01.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 465px;
  position: relative;

  &-hand {

  }
}

.download {
  
}